@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
	color: #101214;
}

.container {
	max-width: 1440px;
	margin: 0 auto;

}

hr {
	width: 50%;
}

.title {
	text-align: center;
}

h2 {
	color: #2AAEE7;
}

h3 {
	margin: 0;
}

a {
	color: #73808D;
	text-decoration: none;
}

header {
	background-color: #2AAEE7;
}

.header-list {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.header-item {
	padding: 0 10px;
}

.header-link {
	color: #ffffff;
	text-decoration: none;
}

.main-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section {
	width: calc(50% - 20px);
	padding: 20px;
}

.section-main {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.main-photo {
	object-fit: cover;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.main-title {
	text-align: center;
}

.contacts-item a {
	color: #101214;
	text-decoration: none;
}

.education-skills {
	padding-left: 0;
}

.projects-list {
	padding-left: 0;
}

.projects-list li {
	display: flex;
	justify-content: space-between;
}

.code-descr,
.education-descr {
	color: #73808D;
}

pre {

	white-space: pre-wrap;
	word-wrap: break-word;
	overflow: auto;
	box-sizing: border-box;
	width: 100%;
}

code {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 0;
}

footer {
	background-color: #2AAEE7;
	display: block;
}

.footer-nav {

	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 20px;
}

.footer-item {
	color: #fff;
}

.copywrite {
	color: #ffffff;
	text-decoration: none;

}

.rsschool {
	width: 80px;
	height: 20px;
	/* background-image: url(../assets/rs_school_js.svg); */
	background-repeat: no-repeat;
	background-size: contain;

}

@media (max-width: 1000px) {
	.section {
		width: 100%;
	}
}

@media (max-width: 700px) {
	.header-list {
		justify-content: right;
	}

	.header-item:nth-child(1),
	.header-item:nth-child(2),
	.header-item:nth-child(3),
	.header-item:nth-child(4),
	.header-item:nth-child(7) {
		display: none;
	}

	pre {
		font-size: 12px;
	}
}

@media (max-width: 500px) {
	body {
		font-size: 16px;
		line-height: 1.1;
	}

	.education-nav {
		font-size: 12px;
		line-height: 1.5;
	}

	.header-list {
		justify-content: right;
	}

	.section-main {
		flex-direction: column;
		align-items: center;
	}

	.footer-nav {
		justify-content: center;
	}

	.footer-item:nth-child(1) {
		display: none;
	}
}

@media print {

	header,
	footer,
	.section-code,
	.section-projects,
	.section-lang {
		display: none;
	}

	body {
		color: #000;
		background: #fff;
	}

	* {
		background: transparent !important;
		box-shadow: none !important;
	}

	.section {
		flex-basis: 50%;
	}

	.section-main {
		flex-direction: column;
		align-items: center;
	}

	.education-skills,
	.section-about {
		flex-basis: 100%;
	}

	img {
		display: none;
	}

	body,
	h1,
	h2,
	h3,
	p,
	li {
		font-size: 12pt;
		line-height: 1;
	}

	p,
	h1,
	h2,
	h3,
	li,
	section,
	hr {
		page-break-inside: avoid;
	}
}